Flask==2.3.2                    # The core Flask framework
Flask-Cors==4.0.0               # A Flask extension adding a decorator for CORS support
flask-migrate==4.0.4            # Add SQLAlchemy support to your Flask application.
Flask-SQLAlchemy==3.0.5         # psycopg2 - Python-PostgreSQL Database Adapter
gunicorn==20.1.0                # WSGI HTTP Server for UNIX
psycopg2-binary==2.9.6          # psycopg2 - Python-PostgreSQL Database Adapter    
